@font-face {
  font-family: "BPG Mrgvlovani Caps 2010";
  src: url("../fonts/BPGMrgvlovaniCaps2010.eot");
  src: url("../fonts/BPGMrgvlovaniCaps2010.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/BPGMrgvlovaniCaps2010.woff2") format("woff2"),
    url("../fonts/BPGMrgvlovaniCaps2010.woff") format("woff"),
    url("../fonts/BPGMrgvlovaniCaps2010.ttf") format("truetype"),
    url("../fonts/BPGMrgvlovaniCaps2010.svg#BPGMrgvlovaniCaps2010")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BPG Mrgvlovani";
  src: url("../fonts/BPGMrgvlovani.eot");
  src: url("../fonts/BPGMrgvlovani.eot?#iefix") format("embedded-opentype"),
    url("../fonts/BPGMrgvlovani.woff2") format("woff2"),
    url("../fonts/BPGMrgvlovani.woff") format("woff"),
    url("../fonts/BPGMrgvlovani.ttf") format("truetype"),
    url("../fonts/BPGMrgvlovani.svg#BPGMrgvlovani") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ALK Katerina";
  src: url("../fonts/ALKKaterina.eot");
  src: url("../fonts/ALKKaterina.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ALKKaterina.woff2") format("woff2"),
    url("../fonts/ALKKaterina.woff") format("woff"),
    url("../fonts/ALKKaterina.ttf") format("truetype"),
    url("../fonts/ALKKaterina.svg#ALKKaterina") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "lg";
  src: url("../fonts/lg.ttf?22t19m") format("truetype"),
    url("../fonts/lg.woff?22t19m") format("woff"),
    url("../fonts/lg.svg?22t19m#lg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Gilroy GEO";
  src: url("../fonts/GilroyGEO-Heavy.eot");
  src: url("../fonts/GilroyGEO-Heavy.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GilroyGEO-Heavy.woff2") format("woff2"),
    url("../fonts/GilroyGEO-Heavy.woff") format("woff"),
    url("../fonts/GilroyGEO-Heavy.ttf") format("truetype"),
    url("../fonts/GilroyGEO-Heavy.svg#GilroyGEO-Heavy") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
